body {
  padding: 0;
  margin: 0;
  background-color: #efefef; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase; }

.container {
  position: relative;
  width: 80%;
  margin: 0 auto; }

.button {
  border-radius: 20px;
  padding: 0.6em 0.2em;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  text-decoration: none; }
  .button :visited {
    color: inherit; }

.slider {
  position: relative; }
  .slider .slides .slide {
    display: none;
    padding: 2em 0; }
    .slider .slides .slide.active {
      display: inherit; }
    .slider .slides .slide .card {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 1.2em 1.4em;
      max-width: 400px;
      color: white; }
      .slider .slides .slide .card .button {
        display: inline-block;
        background: transparent;
        border: 4px solid white; }
        .slider .slides .slide .card .button:visited {
          color: inherit; }
  .slider .slider-controls {
    top: 50%;
    position: absolute;
    width: 100%; }
    .slider .slider-controls .left_arrow {
      margin-left: 25px;
      float: left; }
      @media (max-width: 599px) {
        .slider .slider-controls .left_arrow {
          margin-left: 10px; } }
    .slider .slider-controls .right_arrow {
      margin-right: 25px;
      float: right; }
      @media (max-width: 599px) {
        .slider .slider-controls .right_arrow {
          margin-right: 10px; } }

.courses hr {
  margin: 1.2em 0; }

.courses .card {
  box-sizing: border-box;
  float: left;
  background: white;
  border: 1px solid #e5e1e2;
  border-radius: 4px 4px 4px 4px;
  width: 28%;
  max-width: 310px;
  position: relative;
  margin-left: 78px;
  margin-bottom: 30px;
  margin-top: 30px; }
  .courses .card:nth-child(3n) {
    margin-left: 0; }
  @media (max-width: 599px) {
    .courses .card {
      width: 100%;
      margin-left: 0;
      margin-bottom: 15px;
      margin-top: 15px; } }
  .courses .card img {
    width: 100%; }
    .courses .card img.new-label {
      width: 22%;
      position: absolute;
      top: 0;
      right: 0; }
  .courses .card .button {
    text-align: center;
    background: #01a02a;
    color: white; }
  .courses .card .card-wapper {
    padding: 0 0.8em 0.8em 0.8em; }

.courses .add-course-wapper {
  background: transparent;
  border: 4px dashed #e5e1e2;
  padding: 1em; }
  .courses .add-course-wapper img {
    height: 100%;
    width: 100%; }

footer h6 {
  color: #a7a7a7;
  margin-top: 0;
  font-size: 24px; }
  footer h6:before {
    content: '//'; }
  @media (max-width: 599px) {
    footer h6 {
      margin: 0.5em 0 0.2em 0; } }

footer p {
  color: #a7a7a7; }

footer .footer-wapper {
  background-color: white;
  padding: 1em 0;
  display: inline-block; }
  footer .footer-wapper section {
    float: left; }

footer .footer-infos {
  width: 50%; }
  @media (max-width: 599px) {
    footer .footer-infos {
      width: 100%; } }

footer .footer-contact {
  width: 20%; }
  @media (max-width: 599px) {
    footer .footer-contact {
      width: 100%; } }

footer .footer-social-media {
  width: 20%; }
  @media (max-width: 599px) {
    footer .footer-social-media {
      width: 100%; } }
  footer .footer-social-media ul {
    list-style-type: none;
    display: inline-block;
    padding: 0; }
    footer .footer-social-media ul li {
      float: left;
      margin-left: 0.4em; }
      footer .footer-social-media ul li:first-child {
        margin-left: 0; }

footer .footer-copyright {
  padding: 1em 0; }
