@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #efefef; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase; }

.container {
  position: relative;
  width: 85%;
  margin: 0 auto; }

.button {
  border-radius: 32px;
  padding: 0.6em 0.2em;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  text-decoration: none; }
  .button:visited {
    color: inherit; }

header {
  display: inline-block;
  width: 100%;
  background-color: white; }
  header nav {
    padding: 1.5em 0;
    height: 38px; }
    @media (max-width: 599px) {
      header nav {
        position: relative; } }
  header .brand {
    float: left; }
    @media (max-width: 599px) {
      header .brand {
        position: relative;
        width: 100%;
        margin-bottom: 70px;
        margin-top: 20px; } }
    @media (max-width: 599px) {
      header .brand img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0 auto; } }
  header .search-field, header .user {
    float: right; }
    @media (max-width: 599px) {
      header .search-field, header .user {
        float: left; } }
  header .user {
    position: relative; }
    @media (max-width: 599px) {
      header .user {
        width: 100%;
        margin: 1em 0; } }
    header .user img, header .user .content {
      float: left;
      margin: 0 0.5em; }
    header .user .content small {
      color: #a7a7a7;
      font-size: 8px; }
    header .user .content span {
      color: #a7a7a7; }
    header .user .content span, header .user .content small {
      display: block;
      text-align: center; }
    header .user button {
      color: #a7a7a7;
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin: 0 1em;
      padding: 1.2em 1.4em; }
    header .user .navbar {
      background-color: #efefef;
      position: absolute;
      border: 2px solid #e5e1e2;
      top: 0;
      right: 0;
      padding: 0;
      height: auto;
      min-width: 200px;
      z-index: 10; }
      @media (max-width: 599px) {
        header .user .navbar {
          width: 100%; } }
      header .user .navbar button {
        margin: 0; }
      header .user .navbar ul {
        list-style-type: none;
        padding-left: 0;
        padding: 0 0.8em; }
        header .user .navbar ul li {
          text-align: center;
          padding: 0.6em 0; }
          header .user .navbar ul li:first-child {
            border-top: 1px solid #e5e1e2; }
          header .user .navbar ul li .button {
            color: #a7a7a7;
            border-radius: 25px;
            border: 2px solid #e5e1e2;
            cursor: pointer; }
  header .search-field {
    padding: 0em 1em;
    margin: 0 1em;
    border-right: 2px solid #a7a7a7; }
    @media (max-width: 599px) {
      header .search-field {
        margin: 1em 0;
        border-right: none; } }
    header .search-field form {
      position: relative; }
      header .search-field form input[type=submit] {
        position: absolute;
        right: 10px;
        top: 10px;
        border: none;
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: contain;
        background-image: url(../img/search.png);
        background-position: -1px 4px; }
      header .search-field form input[type=search] {
        width: 250px;
        background-color: #efefef;
        border: 2px solid #e5e1e2;
        border-radius: 20px;
        padding: 1em 2em; }
        @media (max-width: 599px) {
          header .search-field form input[type=search] {
            width: 100%; } }
        header .search-field form input[type=search]::placeholder {
          color: #a7a7a7; }

.slider {
  position: relative; }
  .slider .slides .slide {
    display: none;
    padding: 2em 0; }
    .slider .slides .slide.active {
      display: inherit; }
    .slider .slides .slide .card {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 1.2em 1.4em;
      max-width: 400px;
      color: white; }
      .slider .slides .slide .card h2 {
        font-size: 32px; }
      .slider .slides .slide .card .button {
        display: inline-block;
        background: transparent;
        border: 2px solid white;
        padding: 0.8em 3em; }
  .slider .slider-controls {
    top: 50%;
    position: absolute;
    width: 100%; }
    .slider .slider-controls .left_arrow {
      margin-left: 25px;
      float: left; }
      @media (max-width: 599px) {
        .slider .slider-controls .left_arrow {
          margin-left: 10px; } }
    .slider .slider-controls .right_arrow {
      margin-right: 25px;
      float: right; }
      @media (max-width: 599px) {
        .slider .slider-controls .right_arrow {
          margin-right: 10px; } }

.courses hr {
  margin: 1.2em 0; }

.courses .courses_list, .courses .add_course_section {
  display: inline-block;
  width: 100%; }

.courses .add_course_section form input, .courses .add_course_section form textarea, .courses .add_course_section form label {
  clear: both;
  float: left; }

.courses .card {
  box-sizing: border-box;
  float: left;
  background: white;
  border: 1px solid #e5e1e2;
  border-radius: 4px 4px 4px 4px;
  width: 23%;
  max-width: 310px;
  height: 308px;
  position: relative;
  margin-left: 20px;
  margin-bottom: 30px;
  margin-top: 30px; }
  @media (max-width: 599px) {
    .courses .card {
      width: 100%;
      margin-left: 0;
      margin-bottom: 15px;
      margin-top: 15px; } }
  .courses .card img {
    width: 100%; }
    .courses .card img.new-label {
      width: 22%;
      position: absolute;
      top: 0;
      right: 0; }
  .courses .card .button {
    text-align: center;
    background: #01a02a;
    color: white; }
  .courses .card .card-wapper {
    margin-top: 10em;
    padding: 0 0.8em 0.8em 0.8em;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%; }
    .courses .card .card-wapper .button:hover {
      background: #016b21; }

.courses .add-course-wapper {
  background: transparent;
  border: 4px dashed #e5e1e2;
  padding: 1em; }
  @media (max-width: 599px) {
    .courses .add-course-wapper {
      padding: 3em; } }
  .courses .add-course-wapper img {
    height: 100%;
    width: 100%; }
  .courses .add-course-wapper a {
    font-size: 32px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #a7a7a7; }
    .courses .add-course-wapper a strong {
      display: block; }

footer h6 {
  color: #a7a7a7;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 16px; }
  footer h6:before {
    content: '//'; }
  @media (max-width: 599px) {
    footer h6 {
      margin: 0.5em 0 0.2em 0; } }

footer p {
  color: #a7a7a7;
  margin: 0.4em 0; }

footer .footer-wapper {
  background-color: white;
  padding: 2.5em 0;
  display: inline-block; }

footer .footer-infos {
  float: left;
  width: 50%; }
  @media (max-width: 599px) {
    footer .footer-infos {
      width: 100%; } }

footer .footer-contact {
  float: right;
  width: 20%; }
  @media (max-width: 599px) {
    footer .footer-contact {
      width: 100%; } }

footer .footer-social-media {
  float: right;
  width: 20%; }
  @media (max-width: 599px) {
    footer .footer-social-media {
      width: 100%; } }
  footer .footer-social-media ul {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0; }
    footer .footer-social-media ul li {
      float: left;
      margin-left: 0.4em; }
      footer .footer-social-media ul li:first-child {
        margin-left: 0; }

footer .footer-copyright {
  padding: 1em 0; }

.modal_block {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  .modal_block .modal {
    position: relative;
    margin: 5em auto;
    width: 800px;
    background-color: white;
    border-radius: 10px; }
    .modal_block .modal img {
      border-radius: 10px 10px 0 0;
      width: 100%; }
    .modal_block .modal .login {
      padding: 1em 10em; }
    .modal_block .modal .button {
      background-color: #1ea2da;
      margin: 0 6em;
      text-align: center;
      color: white;
      padding: 1em 0; }
    .modal_block .modal .quit_button {
      position: absolute;
      top: -25px;
      right: -25px;
      width: 50px;
      height: 50px;
      box-shadow: 4px 4px 4px black;
      border-radius: 28px;
      background-color: transparent;
      background-image: url(../img/icon_quit.png);
      background-size: cover; }
