$verde1: rgba(1,160,42, 0);
$verde2: rgba(1, 107,33, 0);
$laranja1: rgba(239, 153,127, 0);
$azul1: rgba(30, 162, 218, 0);
$cinza1: rgba(229, 225,226, 0);
$cinza2: rgba(239, 239,239, 0);
$cinza3: rgba(167, 167,167, 0);
$cinza4: rgba(228, 228,228, 0);