$green1: rgba(1,160,42, 1);
$green2: rgba(1, 107,33, 1);
$orange1: rgba(239, 153,127, 1);
$blue1: rgba(30, 162, 218, 1);
$grey1: rgba(229, 225,226, 1);
$grey2: rgba(239, 239,239, 1);
$grey3: rgba(167, 167,167, 1);
$grey4: rgba(228, 228,228, 1);
$white: rgba(255,255,255, 1);
$black: rgba(0,0,0, 1);
$blackOpac: rgba(0,0,0, 0.5);