@import 'mixins';
@import 'cores';
@import 'sizes';
//Gerais

body {
    font-family: $fontFamily1;
    padding: 0;
    margin: 0;
    background-color: $grey2;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}
.container {
    position: relative;
    width: 85%; //
    margin: 0 auto;
}
.button {
    border-radius: 20px;
    padding: 0.6em 0.2em;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    text-decoration: none;
    &:visited {
        color: inherit;
    }
}
//Header
header {
    display: inline-block;
    width: 100%;
    background-color: $white;
    nav {
        padding: $padding1;
        @include for-phone-only {
            position: relative;
        }
    }
    .brand {
        float: left;
        @include for-phone-only {
            position: relative;
            width: 100%;
            margin-bottom: 70px;
        }
        img {
            @include for-phone-only {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin:0 auto;
            }
        }
    }
    .search-field, .user {
        float: right;
        @include for-phone-only {
            float: none;
        }
    }
    .user {
        @include for-phone-only { 
            width: 100%;
            margin: 1em 0 ;
        }
        img, .content {
            float: left;
            margin: 0 0.5em;
        }
        .content {
            em, span {
                display: block;
                text-align: center;
            }
        }
        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            margin: $margin01;
            padding: $padding3;
        }
    }
    .search-field {
        padding: $padding01;
        margin: $margin01;
        border-right: 2px solid $grey3;
        @include for-phone-only {
            margin: 1em 0;
            border-right: none;
        }
        form {
            position: relative;
            @include for-phone-only {
                margin:2em 0 0.5em 0;
            }
            input{
                &[type=submit]{
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    border: none;
                    background-repeat: no-repeat;
                    background-color: transparent;
                    background-size: contain;
                    background-image: url(../img/search.png);
                    background-position: -1px 4px;
                }
                &[type=search] {
                    @include for-phone-only {
                        width: 100%;
                    }
                    background-color: $grey2;
                    border: 2px solid $grey1;
                    border-radius: 20px;
                    padding: 1em 2em;
                }
            }
        }
    }
}


//Main
//Slider
.slider {
    position: relative;
    .slides {
        .slide {
            &.active{
                display: inherit;
            }
            display: none;
            padding: $padding2;
            .card {
                background-color: $blackOpac;
                padding: $padding3;
                max-width: 400px;
                color: $white;
                .button {
                    display: inline-block;
                    background: transparent;
                    border: 4px solid $white;
                }
            }
        }
    }
    .slider-controls{
        top: 50%;
        position: absolute;
        width: 100%;
        .left_arrow{
            margin-left: 25px;
            float: left;
            @include for-phone-only{
                margin-left: 10px;
            }
        }
        .right_arrow{
            margin-right: 25px;
            float: right;
            @include for-phone-only{
                margin-right: 10px;
            }
        }
    }
}


//Cursos
.courses {
    hr {
        margin: 1.2em 0;
    }
    .courses_list, .add_course_section {
        display: inline-block;
        width: 100%;
    }

    .add_course_section {
    
        form {
            input,textarea,label{
                clear: both;
                float: left;
                }
            }
    }

    .card {
        box-sizing: border-box;
        float: left;
        background: $white;
        border: 1px solid $grey1;
        border-radius: 4px 4px 4px 4px;
        width: 23%;
        max-width: 310px;
        height: 308px;
        position: relative;
        margin-left: 20px;
        margin-bottom: 30px;
        margin-top: 30px;
        // &:nth-child(4n+1){
        //     margin-left: 0;
        // }
        @include for-phone-only{
            width: 100%;
            margin-left: 0;
            margin-bottom: 15px;
            margin-top: 15px;
        }
        img {
            width: 100%;
            &.new-label{
                width: 22%;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .button {
            text-align: center;
            background: $green1;
            color: $white;
        }
        .card-wapper {
            margin-top: 10em;
            padding: 0 0.8em 0.8em 0.8em;
            position: absolute;
            bottom: 0;
            box-sizing: border-box;
            width:100%;
            .button {
                &:hover{
                    background: $green2;
                }
            }
        }
    }
    .add-course-wapper {
        background: transparent;
        border: 4px dashed $grey1;
        padding: 1em;
        img {
            height: 100%;
            width: 100%;
        }
        a { 
            font-size: $fontSizeExtraBig;
            display: block;
            text-align: center;
            text-decoration: none;
            color: $grey3;
            strong {
                display: block;
            }
        }
    }

}




//Footer
footer {
    
    h6 {
        color: $grey3;
        margin-top: 0;
        margin-bottom: 1em;
        font-size: $fontSizeDefault;
        &:before{
            content: '//';
        }
        @include for-phone-only{
            margin: 0.5em 0 0.2em 0;
        }
    }

    p{
        color: $grey3;
        margin: 0.4em 0;
    }

    .footer-wapper {
        background-color: $white;
        padding: 2.5em 0;
        display: inline-block;
    }
    .footer-infos {
        float: left;
        width: 50%;
        @include for-phone-only{
            width: 100%;
        }
    }
    .footer-contact {
        float: right;
        width: 20%;
        @include for-phone-only{
            width: 100%;
        }
    }
    .footer-social-media {
        float: right;
        width: 20%;
        @include for-phone-only{
            width: 100%;
        }
        ul {
            list-style-type: none;
            display: inline-block;
            padding: 0;
            margin: 0;
            li {
                float: left;
                margin-left: 0.4em;
                &:first-child{
                    margin-left: 0;
                }
            }
        }
    }
    .footer-copyright {
        padding: $padding1;
        
    }
}
.modal_block {
    background: $blackOpac;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .modal {
        position: relative;
        margin: 5em auto;
        width: 800px;
        background-color: $white;
        border-radius: 10px;
        img {
            border-radius: 10px 10px 0 0;
            width: 100%;
        }
        .login {
            padding: 1em 10em;
        }
        .button {
            background-color: $blue1;
            margin: 0 6em;
            text-align: center;
            color: $white;
            padding: $padding1;
        }
        .quit_button {
            position: absolute;
            top: -25px;
            right: -25px;
            width: 50px;
            height: 50px;
            box-shadow: 4px 4px 4px $black;
            border-radius: 28px;
            background-color: transparent;
            background-image: url(../img/icon_quit.png);
            background-size: cover;
        }
    }
}
