@import 'mixins';
@import 'cores';
@import 'sizes';
//Gerais

body {
    padding: 0;
    margin: 0;
    background-color: $grey2;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}
.container {
    position: relative;
    width: 80%; //
    margin: 0 auto;
}
.button {
    border-radius: 20px;
    padding: 0.6em 0.2em;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    text-decoration: none;
    :visited {
        color: inherit;
    }
}
//Main
//Slider
.slider {
    position: relative;
    .slides {
        .slide {
            padding: $padding2;
            .card {
                background-color: $blackOpac;
                padding: $padding3;
                max-width: 400px;
                .button {
                    display: inline-block;
                    background: transparent;
                    color: $white;
                    border: 4px solid $white;
                }
            }
        }
    }
    .slider-controls{
        top: 50%;
        position: absolute;
        width: 100%;
        .left_arrow{
            margin-left: 25px;
            float: left;
        }
        .right_arrow{
            margin-right: 25px;
            float: right;
        }
    }
}


//Cursos
.courses {
    hr {
        margin: 1.2em 0;
    }
    .card {
        box-sizing: border-box;
        float: left;
        background: $white;
        border: 1px solid $grey1;
        border-radius: 4px 4px 4px 4px;
        width: 28%;
        max-width: 310px;
        position: relative;
        margin-left: 78px;
        margin-bottom: 30px;
        margin-top: 30px;
        &:nth-child(3n){
            margin-left: 0;
        }
        @include for-phone-only{
            width: 100%;
            margin-left: 0;
            margin-bottom: 15px;
            margin-top: 15px;
        }
        img {
            width: 100%;
            &.new-label{
                width: 22%;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .button {
            text-align: center;
            background: $green1;
            color: $white;
        }
        .card-wapper {
            padding: 0 0.8em 0.8em 0.8em;
        }
    }
    .add-course-wapper {
        background: transparent;
        border: 4px dashed $grey1;
        padding: 1em;
        img {
            height: 100%;
            width: 100%;
        }
    }

}




//Footer
footer {
    
    h6 {
        color: $grey3;
        margin-top: 0;
        font-size: $fontSizeBig;
        &:before{
            content: '//';
        }
        @include for-phone-only{
            margin: 0.5em 0 0.2em 0;
        }
    }

    p{
        color: $grey3;
    }

    .footer-wapper {
        background-color: $white;
        padding: $padding1;
        display: inline-block;
        section {
            float: left;
            
        }
    }
    .footer-infos {
        width: 50%;
        @include for-phone-only{
            width: 100%;
        }
    }
    .footer-contact {
        width: 20%;
        @include for-phone-only{
            width: 100%;
        }
    }
    .footer-social-media {
        width: 20%;
        @include for-phone-only{
            width: 100%;
        }
        ul {
            list-style-type: none;
            display: inline-block;
            padding: 0;
            li {
                float: left;
                margin-left: 0.4em;
                &:first-child{
                    margin-left: 0;
                }
            }
        }
    }
    .footer-copyright {
        padding: $padding1;
        
    }
}

